<div id="search-form-wrap">
<% if (theme.search.insight) { %>
    <form class="search-form">
        <label style="float:left;">
            <span class="screen-reader-text">Search for:</span>
            <input type="search" class="search-field"  placeholder=" <%= __('search') %>…" value="" name="s" title="Search for:">
        </label>
    </form>
    <%- partial('search/insight') %>
<% } else if (theme.search.swiftype) { %>
    <form class="search-form">
        <input type="text" class="st-default-search-input search-form-input" placeholder="<%= __('search') %>" />
        <input type="submit" class="search-form-submit" value="Search">
    </form>
    <%- partial('search/swiftype') %>
<% } else if (theme.search.baidu) { %>
    <%- partial('search/baidu') %>
<% } else { %>
    <%- search_form({ button: ' ', text: __('index.search') }) %>
<% } %>
</div>