<% if (!is_current("about", false)){ %>
    <a href="<%- url_for(post.path) %>" class="<%= class_name %>">
        <%= __('nav.updated') %> <time datetime="<%= date_xml(post.updated) %>" itemprop="dateUpdated"><%= date(post.updated, date_format) %></time>
    </a>
<% } %>