<article id="<%= post.layout %>-<%= post.slug %>" <% if (!index && is_post() && theme.post_catalog.enable){ %>style="width: 66%; float:left;"<% } %> class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost" >
  <div id="articleInner" class="clearfix post-1016 post type-post status-publish format-standard has-post-thumbnail hentry category-template-2 category-uncategorized tag-codex tag-edge-case tag-featured-image tag-image tag-template">
    <%- partial('post/gallery') %>
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-meta">
      <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
      <%- partial('post/updated', {class_name: 'article-date', date_format: null}) %>
      <br />
      <%- partial('post/category') %>
      <%- partial('post/tag') %>
      <%- partial('post/busuanzi-analytics',{index: index, class_name: 'article-views'}) %>
      <%- partial('post/word_count',{index: index, class_name: 'article-count'}) %>
      <%- partial('post/read_count',{index: index, class_name: 'article-read'}) %>
    </div>
    <div class="article-entry" itemprop="articleBody">
      <% if ( index ){ %>
        <% if (post.photos != ""){ %>
          <div class="entry-thumbnail">
            <a href="<%- url_for(post.path) %>"><img width="250" height="175" src="<%= post.photos[0] %>" class="attachment-thumb-featured size-thumb-featured wp-post-image" alt=""></a>
          </div>
        <% } %>
        <% if (theme.auto_excerpt.enable) { %>
          <% var br_position = 0 %>
          <% for (var br_count = 0; br_count < theme.auto_excerpt.lines; br_count++) { %>
            <% br_position = post.content.indexOf('\n',br_position + 1) %>
            <% if(br_position < 0) { break } %>
          <% } %>
          <% if(br_position > 0) { %>
            <p><%- post.content.substring(0, br_position + 1) %><p>
          <% } %>
        <%} %>
        <% } else { %>
        <%- post.content %>
      <% } %>
    </div>
    <% if(index){%>
    <div class="article-more-link">
      <a href="<%- url_for(post.path) %>#more"><%= __('article.more') %></a>
    </div>
    <%}%>
    <% if(!index) {%>
    <%- related_posts(post, site.posts) %>
    <!--  广告位 -->
    <%- partial('google-ads') %>
    <% } %>
    <footer class="entry-meta entry-footer">

      <% if (!index && theme.donate.enable){ %>
        <%- partial('donate') %>
      <% } %>

      <% if (!index && post.comments && (theme.gentie_productKey || theme.duoshuo_shortname || theme.disqus_shortname || theme.uyan_uid || theme.wumii || theme.livere_shortname || theme.gitment.enable)){ %>
        <%- partial('comment', {page: post}) %>
      <% } %>
    </footer>

  </div>

  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>

</article>




<!-- Table of Contents -->
<% if (!index && is_post() && theme.post_catalog.enable){ %>
  <aside id="sidebar">
    <div id="toc" class="toc-article" style="overflow-y: scroll;">
    <strong class="toc-title"><%= __('contents') %></strong>
    <% if (toc(post.content) != ""){ %>
      <%- toc(post.content, { "class": "nav" }) %>
    <% } else { %>
      <ol class="nav"><%= __('none') %></ol>
    <% } %>
    </div>
  </aside>
<% } %>
