<footer id="footer" class="site-footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>

  <div class="clearfix container">
      <div class="site-info" >
	      &copy; <%= date(new Date(), 'YYYY') %> <%= config.title || config.author %> All Rights Reserved.
          <span>
              <%= __('theme_by') %> <a href="https://hexo.io/" target="_blank">HEXO</a>
          </span>
      </div>

      <div class="site-credit">
          <% if (theme.busuanzi_analytics) { %>
          <span id="busuanzi_container_site_uv">
              <%= __('credit.total_visits')%>:<span id="busuanzi_value_site_uv"> </span><%= __('credit.people_num')%>
              <%= __('credit.all_visits')%>:<span id="busuanzi_value_site_pv"> </span><%= __('credit.times')%>
            </span>
          <% } %>
          <% if (theme.total_count){%>
                <%= __('credit.total_counts')%>:<span ><%= totalcount(site)%> <%= __('nav.Words')%></span>
          <%}%>
      </div>
  </div>
</footer>


<!-- min height -->

<script>
    var contentdiv = document.getElementById("content");

    contentdiv.style.minHeight = document.body.offsetHeight - document.getElementById("allheader").offsetHeight - document.getElementById("footer").offsetHeight + "px";
</script>